<!DOCTYPE html>
<html lang="en">
<head>
  <title>PSWorldApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Sunflower:500" rel="stylesheet">
<body>
  <!-- Render navigation bar -->
  <%= render "layouts/navigation" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container-fluid">
    <%= yield %>
  </div>



</body>
</html>
